# Node modules build artifacts and dependencies
node_modules/
dist/
package*.json

# Database development files
*.session.sql
*.test.sql

# Docs and meta
README.md
LICENSE

# IDE and OS-specific files
.vscode/
.idea/
*.DS_Store

# Version control
.git
.gitignore
